.results-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #B7B7A4;
}

/* Create a custom loading screen here with animations or something */
.loading-results{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;

}

.user-input{
    background-color: #FFE8D6;
}

.user-results{
    background-color: #DDBEA9;
}
