.results-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.loading-results{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 3vh;
    margin: auto;
}

.user-input{
    background-color: #FFE8D6;
    width: 40vw;
    margin: auto;
    margin-top: 4vw;
    border-radius: 25px;
    box-shadow: 5px 5px 4px 5px #6B705C;
}

.user-results{
    background-color: #DDBEA9;
    margin: auto;
    margin-top: 4vw;
    width: 40vw;
    border-radius: 25px;
    box-shadow: 5px 5px 4px 5px #6B705C;
}

.prompt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0A68A;
    margin: auto;
    margin-top: 3vw;
    width: 40vw;
    height: 10vw;
    border-radius: 25px;
    box-shadow: 5px 5px 4px 5px #6B705C;
}

.prompt{
    text-align: center;
    font-size: 2vw;
}

.catch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0A68A;
    margin: auto;
    margin-top: 3vw;
    width: 40vw;
    height: 10vw;
    border-radius: 25px;
    box-shadow: 5px 5px 4px 5px #6B705C;
}

.catch-prompt{
    text-align: center;
    font-size: 1.5vw;
}